:root {

    scroll-behavior: smooth;
    background-color: #fff;
    --b-radius-small: 5px;
    --b-radius-med: 15px;
    --b-radius-big: 25px;

    --dimmed-text: rgb(255, 255, 255, .5);

    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    cursor: pointer;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

body {
    color: aliceblue;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

#openMenuButton {
    position: fixed;
    top: 10px;
    left: 10px;

    height: 40px;
    width: 40px;
    outline: 1px solid red;

    z-index: 15;
}

#openMenuCheckbox {
    display: none;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 20dvw;
    min-width: 250px;
    max-width: 300px;
    height: 100svh;
    background-color: black;
    box-shadow: 5px 0px 15px -5px #000000aa;
    translate: -100% 0;

    transition: translate 200ms ease-out;

    z-index: 1;
}

#openMenuCheckbox:checked~#menu {
    translate: 0 0;
}

.menu-item>a:visited {
    color: var(--dimmed-text);
}

.menu-list {
    text-align: right;
    list-style: none;
    font-size: 1.8em;
    padding: 0;
    padding-right: 5vw;
}

.menu-item {
    width: 100%;
    margin-bottom: 20px;
    transition: .2s;

    color: var(--dimmed-text);
    transition: color .25s;
    transition-delay: .1s;
}

.menu-item>hr {
    display: block;
    margin-left: 0;
    width: 0%;
    visibility: hidden;
    translate: 0 -10px;
    transition: width 150ms ease-out, visibility .3s;
    transition-delay: .1s;
}

.menu-item:hover {
    color: white;
}

.menu-item:hover>hr {
    visibility: visible;
}

.menu-item[active="true"] {
    color: white;
}

.menu-item[active="true"]>hr {
    width: 100%;
    visibility: visible;
}

#main-content {
    /* position:relative; */
    /* margin: auto; */
    /* max-width: 1000px; */


}

.intro {
    padding: 50px;
    font-size: 1.4em;

}

.intro>img {
    float: left;
    height: 100px;
    margin: 0 20px 20px 0;
}


.section {
    background-color: #000;
    margin-top: 15rem;
}

.section:not(.intro) {
    padding: 5dvh 0;
    display: grid;
    overflow-y: scroll;
    grid-template-columns: repeat(4, 33dvw);
    column-gap: 10dvw;
}

.section-title {
    position: absolute;
    z-index: -1;
}

.section-title>p {
    margin: 0;
    color: #eee;
    font-size: 15rem;
    text-transform: uppercase;
    /* background-color: red; */
    mask: linear-gradient(white 50%, transparent 90%);
}


.element {
    max-width: 400px;
    /* background-color: #07aab6; */
}

.element>.title {
    font-size: 2.5em;
    text-align: center;
    padding: 0 0 10px 0;
    width: 100%;
}

.element>.content>img {
    width: 100%;


    border-radius: var(--b-radius-med);
}

footer {
    height: 100px;
    background-color: black;
}

.img-gif{
  filter: grayscale(1) blur(2px); 
  transition: filter .2s;
  
}
.img-gif:hover{
    cursor: pointer;
    filter: grayscale(0) blur(0); 
    
}
